* {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  background-color: #f6f6f6;
}

.title {
  color: #545862;
  font-weight: 800;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.fa-trash,
.fa-sync-alt,
.fa-level-down-alt,
.fa-ellipsis-v {
  margin-right: 15px;
  line-height: 50px;
  font-size: 14px;
  opacity: 0.5;
  color: #333;
}

.fa-trash {
  display: none;
}

.element-button {
  border: none;
  background-color: transparent;
  margin: 0 0 0 auto;
  width: 20px;
  cursor: pointer;
  pointer-events: none;
}

.fa-level-down-alt {
  font-size: 10px;
  transform: rotate(90deg);
}

#box-list {
  background-color: white;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: 10px auto;
  max-width: 555px;
}

.item-list {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
  padding: 12px;
}

form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-right: 5px;
}

input[type=text] {
  padding: 0 1rem;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  resize: none;
}

input::placeholder {
  font-style: italic;
}

input[type=checkbox] {
  appearance: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  border: 2px solid #c1c1c3;
  cursor: pointer;
  color: transparent;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-right: 17px;
  box-sizing: border-box;
}

input[type=checkbox]:checked {
  appearance: checkbox;
}

input[type=checkbox]:checked + label {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.clear-btn {
  appearance: none;
  outline: none;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  opacity: 0.5;
  border: none;
}

.clear-btn:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.bottom {
  padding: 15px;
  background-color: #f6f6f6;
}
